build

devel

.vscode

.catkin_workspace

*~

.DS_Store

src/autonomous_exploration_development_environment/src/vehicle_simulator/mesh/*

!src/autonomous_exploration_development_environment/src/vehicle_simulator/mesh/matterport

src/autonomous_exploration_development_environment/src/vehicle_simulator/mesh/matterport/meshes/*

src/autonomous_exploration_development_environment/src/vehicle_simulator/mesh/matterport/segmentations/*

src/autonomous_exploration_development_environment/src/vehicle_simulator/mesh/matterport/preview/*

src/autonomous_exploration_development_environment/src/vehicle_simulator/log/*

!src/autonomous_exploration_development_environment/download_environments.sh

!src/autonomous_exploration_development_environment/readme.txt
